/* .App {
  text-align: center;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900;1000;1200&family=Montserrat:ital@0;1&display=swap");
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
} */

/*
	Variable defined as map, to set various configurations regarding the same item.
*/
/* html {
  /* Approximately 1.3rem=16px *** 1.7vw=16px *** 1rem = 16px *
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 300;
  font-family: "Montserrat", Helvetica, sans-serif;
}

h1 {
  /* Approximately 2=32px *** 1.7vw=31.62px-19.28px *** 1.2rem=19.2px *
  font-size: clamp(1.2rem, 1.7vw, 2rem);
  font-weight: 600;
}

h2 {
  /* Approximately 1.3rem=20.8px *** 1.7vw=20.7px-16.031px *** 1rem = 16px *
  font-size: clamp(1rem, 1.7vw, 1.3rem);
  font-weight: 600;
}

h3 {
  /* Approximately 1.15rem=18.4px *** 1.7vw=18.3px-17.7px *** 1.1rem = 17.6px *
  font-size: clamp(1.1rem, 1.7vw, 1.15rem);
  font-weight: 600;
}

h4 {
  /* Approximately 1rem = 16px *** 1.7vw=16px *** 1rem = 16px *
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 600;
}

h5 {
  /* Approximately .9rem=14.4px *** 1.7vw=16px *** .9rem=14.4px *
  font-size: clamp(0.9rem, 1.7vw, 0.9rem);
  font-weight: 600;
}

h6 {
  /* Approximately .9rem=14.4px *** 1.7vw=16px *** .9rem=14.4px *
  font-size: clamp(1rem, 1.7vw, 1rem);
  font-weight: 300;
}

input {
  font-family: inherit;
  line-height: inherit;
  color: #2e3750;
  min-width: 10em;
  /* the border gradient *
  -o-border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
     border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
} */

/* button {
  cursor: pointer;
} */

/* html, body {
  background-color: #000;
  color: #fff;
  scrollbar-color: hsla(0, 0%, 100%, 0.3) transparent;
  scrollbar-width: 16px;
  height: 100%;
} */

/* body {
  margin: 0;
} */

/* a {
  color: #fff;
} */

/* main {
  display: grid;
  align-items: center;
  gap: 5px;
  grid-template-columns: calc(40% - 5px) calc(60% - 5px);/*calc(15% - 5px); *
}
main > article {
  height: calc(100dvh - 120px);
} */

/* main .main__details {
  overflow-y: auto;
  border-radius: 8px;
  background-color: rgb(27, 27, 27);
} */

/* footer {
  background-color: #000;
} */